main {
  margin: 3rem;
  width: 90%;
}

.header {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.header p {
  font-size: 14px;
  color: var(--gray-500);
}

article {
  display: flex;
  justify-content: space-between;
}

.sectionBoxLeft {
  box-sizing: border-box;
  width: 65%;
  border: 1px solid var(--gray-500);
}

.sectionBoxLeft h3 {
  background: var(--gray-400);
  color: var(--gray-900);
  padding: 0.5rem 1rem;
}

.updateAtInfo {
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--gray-500);
}

.updateAtInfo span {
  font-size: 12px;
  color: var(--gray-500);
}

.textInfo {
  padding: 1rem 1rem;
}

.textInfo span {
  font-size: 12px;
  color: var(--gray-500);
}

.sectionBoxRight {
  box-sizing: border-box;
  width: 25%;
}

.processDetails h4 {
  margin-bottom: 1.5rem;
  color: var(--gray-100);
}

.processDetails p {
  margin-bottom: 1.5rem;
  font-size: 14px;
  color: var(--gray-300);
}

.processDetails hr {
  border-bottom: 1px solid var(--gray-500);
}

.relatedParties h4 {
  margin: 1.5rem 1.5rem 1.5rem 0rem;
}

.relatedParties p {
  color: var(--green-500);
  margin-top: 1.5rem;
}

.relatedParties span {
  font-size: 12px;
  color: var(--gray-500);
}

.newSearch {
  align-self: center;
  width: 6.75rem;
  height: 2.5rem;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  border: 0;
  margin-top: 2rem;
  cursor: pointer;
  background: var(--green-500);
  color: var(--gray-100);
  transition: background-color 0.1s;
}

.newSearch:hover {
  background: var(--green-300);
}